body{
    margin:0;
}
#wrapper{
    margin: 0px;
}
.page{
    margin:0px;
    padding:0px;
    display: flex;
}
#page1{
    background-color:#1F1813;
    margin:0px;
    vertical-align:top;
}
#page2{
    background-color:#FFF2D4;
    margin:0px;
    vertical-align:top;
}
#page3{
    background-color:#4D7294;
    margin:0px;
    vertical-align:top; 
}
#page4{
    background-color:#38242D;
    margin:0px;
    vertical-align:top; 
}
b{
    font-size: 24px;
}
#titlebar{
    margin-top:0px;
    background-image: url("Assets/background.JPG");
    background-size: 100%;                 
    background-repeat: no-repeat;
    background-position: center /*center*/;
    /*height:800px;*/
    height: 100vh;
}
#title{
	position:relative;
	top:230px;
    color:#FFFFFF;		
    font-family: 'Raleway', serif;
    font-size:45px;
    font-weight: bold;
}
#description{
	position:relative;				
	top:250px;
    color:#FFFFFF;
    font-family: 'Raleway', serif;
    font-size:25px;
    font-weight: bolder;
}
#icons{
	position:relative;
	top:270px;
}
#joke{
	color: #FFFFFF;
	font-family: 'Courier New', sans-serif;
	font-size:22px;
    margin-top: 10px;
    margin-bottom: 60px;
	font-weight: lighter;
	line-height: 30px;
}
h1{
    color: #FFFFFF;
    position: relative;	
    font-family: 'Raleway', serif;
    margin-top: 45px;
}
h2{
	color:#FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: lighter;
}
h3{
	color:#FFFFFF;
	font-family: 'Raleway', sans-serif;
	font-size:20px;
	font-weight:lighter;
}
p{
	display: inline-block;
    color:#FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height:200%;
    margin-top: 8px;
    margin-bottom: 60px;
  	margin-right:auto;
  	margin-left:auto;
  	width:70%;
    text-align: center;

}
/*tr{
	position: center;
}*/
.flex-item-container{
    display: inline;
    width: 100%;
}
#about-me-container{
    /*margin-left: 80px;*/
    /*text-align: left;*/
}
#projects-container{
	margin-bottom: 30px;

}
.projects-description
{
	margin-left: 
	margin-right
	margin-bottom: 30px;
	text-align:center;

}
.clickable:hover{
    opacity: 0.5;
}
.headers{
	font-size: 220%;
    /*margin-left: 80px;*/
}
