body{
    margin:0;
    /*background-image: url("images/background.JPG");*/
}
/*#wrapper{
    margin: 0px;
}*/
.page{
    margin:0px;
    padding:0px;
    display: flex;
}
#page1{
    background-color:#1F1813;
    margin:0px;
    vertical-align:top;
}
#page2{
    background-color:#FFF2D4;
    margin:0px;
    vertical-align:top;
}
#page3{
    background-color:#4D7294;
    margin:0px;
    vertical-align:top; 
}
#page4{
    background-color:#38242D;
    margin:0px;
    vertical-align:top; 
}
/*b{
    font-size: 24px;
}*/
#titlebar{
    margin-top:0px;
    /*background-color:#F0FFFF;*/
    background-image: url("images/background.JPG");
    background-size: 100%;
    height:600px;
}
#title{
	/*line-height:  ;1.75*/
	position:relative;
	top:230px;
    color:#FFFFFF;		
    font-family: 'Raleway', serif;
    font-size:45px;
    font-weight: bold;
   /* margin-left:20px;
    margin-right:20px;*/
}
#description{
	position:relative;				
	top:250px;
    color:#FFFFFF;
    font-family: 'Raleway', serif;
    font-size:25px;
    font-weight: bolder;
}
#icons{
	position:relative;
	top:270px;
	/*right: 10px;*/
}
#joke{
	/*position:relative;
	top: -20px;*/
	color: #FFFFFF;
	font-family: 'Courier New', sans-serif;
	font-size:22px;
    /*line-height:200%;*/
    /*margin-bottom: 50px;*/
    margin-top: 40px;
    margin-bottom: 60px;
	font-weight: lighter;
	line-height: 30px;
}
h1{
    color: #FFFFFF;
    position: relative;	
    font-family: 'Raleway', serif;
    font-size: 65px;
    margin-top: 45px;
   /* margin-left:80px;*/
    /*text-align: center;*/
}
h2{
	color:#FFFFFF;
	font-family: 'Raleway', sans-serif;
	font-size:20px;
	font-weight:lighter;
}
p{
    color:#FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size:18px;
    line-height:200%;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left:175px;
    margin-right:175px;
    text-align: center;
}
/*#nav{
    position: fixed;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 0px;
    height: 30px;
    width: 100%;
    background-color: #114b5f;
}*/
/*.navlink{
    margin-left:10px;
    margin-right:10px;
    color:white;
    text-decoration:none;
    font-family: 'Raleway', serif;
    font-size:22px;
    text-align:center;
}*/
/*.navlink:hover{
    text-decoration:underline;
}*/
/*a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}*/
/*#navtable{
    width: 100%;
    text-align: center;
    border: 0px;
}*/
.flex-item-container{
    display: inline;
    width: 100%;
}
#about-me-container{
    /*margin-left: 80px;*/
    /*text-align: left;*/
}
/*#experience-container{
    margin-left: 80px;
    margin-right: 80px;
    text-align: left;
}
#toolbox-container{
    width:70%;
}*/
#projects-container{
    /*margin-left: 80px;*/
    /*text-align: left;*/
    /*margin-right: 80px;*/
}
/*#connect-container{
    width: 100%;
}
.experience-logo{
    width: 300px;
}
.experience-description{
    vertical-align: top;
}*/
.clickable:hover{
    opacity: 0.5;
}
/*#picture-of-me{
    margin-right: 3%;
}*/
/*.projects-description{
    text-align: left;
}*/
.headers{
	font-size: 225%;
    /*margin-left: 80px;*/
}
/*.toolbox-paragraphs{
    margin-bottom: 20px;
}*/